@import url("style.css");

/* ============== BODY AND HEADER STYLES ==============  */

.display__course__container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-inline: 1.8vh;
  padding: 2vh;
  border: 1px solid black;
  position: absolute;
  
}