@import url("style.css");
.lms__display__main__functionality__container {
  padding: 0rem 1rem 1rem 7rem;
  width: 100%;
  height: 54rem;
  /* border: 1px solid black; */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* ========== COURSE DISPLAY CSS ========== */
.display__course__main__container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 1rem;
  width: 100%;
  height: 77%;
  overflow-y: auto;
  padding-top: 1rem;
  /* border: 1px solid black; */
}

.display__course__container {
  display: flex;
  flex-direction: column;
  width: 17rem;
  height: 17rem;
  border: 1px solid lightgrey;
  cursor: pointer;
}

/* ========== TEACHING DISPLAY CSS ==========  */

.display__teaching__navigation__main__container {
  /* border-bottom: 1px solid lightgrey; */
  border-left: none;
  border-top: none;
  display: none;
  align-items: center;
  /* height: 5rem; */
  /* padding-bottom: 0.5rem; */
  width: 100%;
  /* padding-left: 1rem; */
  overflow-x: hidden;
}

.display__teaching__navigation__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  /* height: 5rem; */
  border-bottom: 1px solid lightgrey;
}

.display__teaching__details__main__container {
  display: none;
  justify-content: center;
}

/* ========= CLASSWORK DISPLAY CSS ==========  */

.display__classwork__details__main__container {
  padding: 1rem;
  display: none;
  /* height: 100%; */
  justify-content: center;
  /* border: 1px solid black; */
}

.display__classwork__details__container {
  height: max-content;
  width: 40rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  /* border: 1px solid black; */
}

.create__coursework__button__container {
  width: 40rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.create__work__button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
  background: none;
  border: 1px solid grey;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: var(--Raleway600);
  /* margin-inline: 0.5rem; */
  cursor: pointer;
  width: 7rem;
  /* gap: 0.3rem; */
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.classwork__plusicon {
  font-size: 1rem;
  display: flex;
  margin: 0rem;
  align-items: center;
}

.plus__icon {
  margin: 0rem;
  font-size: 2.5rem;
  height: max-content;
  width: max-content;
}

.create__work__button:hover {
  background-color: lightgrey;
}

.create__work__button:active {
  background-color: lightblue;
  transform: scale(0.99);
}
.display__boxicon__coursework__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.coursework__icon {
  font-size: 1.5rem;
}

.coursework__paragraph {
  width: 30rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.coursework__ptitle {
  font-size: 1.5rem;
  font-weight: var(--Raleway600);
}

.coursework__pdetails {
  font-size: 1rem;
  opacity: 0.7;
  font-weight: var(--Raleway500);
}

/* ========= DISPLAY PEOPLE CSS ========= */
.display__people__details__main__container {
  /* padding: 1rem; */
  display: none;
  width: 100%;
  height: 49rem;
  justify-content: center;
}

.display__people__details__container {
  height: 45rem;
  width: 40rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* border: 1px solid black; */
  gap: 1rem;
}

/* =========== DISPLAY TEACHERS CSS ========= */

.display__teachers__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.display__teachers__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teachers__title {
  font-size: 1.5rem;
  font-weight: var(--Raleway600);
}

.add__teacher {
  font-size: 1.5rem;
}

/* ========= DISPLAY STUDENTS CSS =========  */
.display__students__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.display__students__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.students__title {
  font-size: 1.5rem;
  font-weight: var(--Raleway600);
}

.add__student {
  font-size: 1.5rem;
}

/* ======== DISPLAY STUDENTS DETAILS CSS ========  */

.display__students__details__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.students__boxicon {
  font-size: 5rem;
}

.students__boxicon__title {
  font-size: 1.5rem;
  font-weight: var(--Raleway600);
}

.invite__students__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  background: none;
  border: 1px solid grey;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: var(--Raleway500);
  margin-inline: 0.5rem;
  cursor: pointer;
  width: 10rem;
  gap: 0.3rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.invite__students__button:hover {
  background-color: lightgrey;
}

.invite__students__button:active {
  background-color: lightblue;
  transform: scale(1.05);
}

/* =============== GRADES DISPLAY CSS ===============   */

.display__grades__details__main__container {
  padding: 1rem;
  display: none;
  height: 49rem;
  justify-content: center;
  align-items: center;
  /* border: 1px solid  black; */
}

.display__grades__details__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.grades__boxicon {
  font-size: 10rem;
}

/* ============== NOTES DISPLAY CSS =============== */
.display__notes__details__main__container {
  /* border: 1px solid black; */
  display: none;
  /* align-items: center; */
  width: 100%;
  height: 49rem;
}

.notes__title {
  font-size: 1.5rem;
  font-weight: var(--Raleway600);
  display: flex;
  align-items: center;
  gap: 1rem;
  /* border: 1px solid black; */
}

.display__notes__details__container {
  width: 12rem;
  height: 49rem;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  padding: 0.1rem;
  gap: 1rem;
}

.search__notes__file__folder {
  padding: 0.1rem;
}

.display__notes__files__container {
  /* border-top: 1px solid grey; */
  height: 46.5rem;
  overflow-y: auto;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.display__notes__title__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 0.1rem;
  /* border-bottom: 1px solid black; */
}

.save__file,
.create__file,
.create__folder {
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.save__file:hover,
.create__file:hover,
.create__folder:hover {
  background: lightgrey;
}

.notes__files__title {
  font-size: 1rem;
  font-weight: var(--Raleway600);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  width: 100%;
  z-index: -1;
  text-decoration: none;
  outline: none;
  user-select: none;
  border: none;
  background: none;
  color: black;
  box-shadow: none;
  resize: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.notes__files__title:hover {
  background: lightgrey;
}

/* ========== DISPLAY SELECTED NOTES CSS ========= */

.display__selected__notes__main__container {
  /* border: 1px solid black; */
  border-left: none;
  height: 49rem;
  width: 100%;
  /* padding: 0.5rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display__selected__notes__title__container {
  border-bottom: 1px solid lightgrey;
  width: 100%;
  display: none;
  justify-content: center;
  padding: 0.3rem;
}

.display__selected__notes__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--Raleway600);
  font-size: 1rem;
  outline: none;
  width: max-content;
  user-select: none;
  text-align: center;
  border: none;
  background: none;
  box-shadow: none;
  resize: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.display__selected__notes__container {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.notes__files__container {
  width: 100%;
  position: relative;
}

.notes__files__functionality__container {
  position: absolute;
  align-items: center;
  display: none;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  transform: translate(-50%, 10%);
  top: 0%;
  left: 70%;
  background: white;
  border: none;
  box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.7);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  transition: all 0.2s ease;
  border-radius: 0.1rem;
  width: 6rem;
  z-index: 1;
}

.delete__note__button {
  padding: 1rem;
  width: 6rem;
  font-weight: var(--Raleway500);
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.delete__note__button:active {
  background-color: grey;
}

.delete__note__button:hover {
  background: lightgrey;
}

.selected__writing__notes__space__container {
  display: none;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;

  /* border: 1px solid black; */
}

.notes__space__title {
  width: 100%;
  font-size: 2rem;
  outline: none;
  user-select: none;
  border: none;
  background: none;
  height: 2rem;
  box-shadow: none;
  resize: none;
  margin-inline: 0.5rem;
}

.notes__space__title::-moz-selection {
  border: 1px solid black;
  background: transparent;
  box-shadow: none;
  outline: none;
}

.selected__writing__notes__space {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  border: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  resize: none;
  user-select: none;
  margin-inline: 0.5rem;
  outline: none;
}

/* ============== IDK CSS =================== */

.display__teaching__stream__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: center;
  overflow-y: auto;
}

.display__teaching__stream {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.display__teaching__title {
  border: 1px solid black;
  border-radius: 1rem;
  height: 15rem;
  padding: 2rem;
  width: 50rem;
  transform: none;
  top: 0%;
  left: 0%;
}

.class__name {
  font-size: 2.5rem;
  font-weight: var(--Raleway700);
  color: var(--DarkBlue);
}

.class__room {
  font-size: 1.5rem;
  font-weight: var(--Raleway700);
  color: var(--DarkBlue);
}

.display__class__code__container {
  padding: 1rem;
  border-radius: 1rem;
  width: max-content;
  height: max-content;
  border: 1px solid black;
}

.class__code__title {
  font-size: 1.5rem;
  font-weight: var(--Raleway700);
  color: var(--DarkBlue);
}

.display__course__container:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.display__course__container:active {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.display__course__data__container {
  display: flex;
  flex-direction: row;
  height: max-content;
  background: yellow;
  width: 100%;
  height: 35%;
  padding: 1rem;
  position: relative;
  border-bottom: 1px solid lightgrey;
}

.display__course__data {
  display: flex;
  flex-direction: column;
  height: max-content;
  gap: 0.5rem;
}

.display__three__dots__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  font-size: 1.5rem;
  width: 2rem;
  border-radius: 0.1rem;
  transition: all 0.2s ease;
}

.three-dots {
  cursor: pointer;
  border-radius: 0.1rem;
}

#displayClassTitle {
  font-size: 2rem;
  font-weight: var(--Raleway600);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#displayLecturerName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  font-weight: var(--Raleway500);
  color: var(--DarkBlue);
  max-width: max-content;
  width: max-content;
}

.empty__main__container {
  width: 100%;
  height: 50%;
  padding: 1rem;
  position: relative;
}

#emptyFunctionalityContainer {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  transform: translate(-1%, 15%);
  top: 0%;
  left: 50%;
  background: white;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  transition: all 0.2s ease;
  border-radius: 0.1rem;
  width: max-content;
}

#deleteButton,
#editButton {
  padding: 1rem;
  width: 8rem;
  font-weight: var(--Raleway500);
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease;
}

.class__room__main__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-inline: 1rem;
  height: 15%;
  border-top: 1px solid lightgrey;
}

/* ==================== DELETE CONFIRMATION CONTAINER ===================== */

.delete__background__overlay {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  background: rgba(45, 45, 45, 0.5);
  backdrop-filter: blur(5px);
  z-index: 2;
  display: none;
}

.display__delete__confirmation__container {
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
  width: max-content;
  flex-direction: column;
  gap: 1rem;
  background: white;
  padding: 1rem;
  border-radius: 0.2rem;
}

.delete__title {
  font-size: 1.2rem;
  font-weight: var(--Raleway500);
}

.paragraph__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
}

.paragraph__bottom {
  font-size: 1rem;
}

.cancel__delete__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
}

.cancel__button {
  padding: 0.5rem;
  font-weight: var(--Raleway500);
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
  border-radius: 0.2rem;
}

.delete__button {
  background: hsl(0, 100%, 50%);
  color: white;
  display: flex;
  padding: 0.5rem;
  font-weight: var(--Raleway500);
  background: red;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
  border-radius: 0.2rem;
}

#cancelButton:disabled {
  color: grey;
}

#cancelButton:disabled:hover,
#cancelButton:disabled:active {
  background: none;
  color: grey;
}

.teaching__course__button {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background: none;
  border: 1px solid grey;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: var(--Raleway500);
  margin-inline: 0.5rem;
}

.teaching__course__button:hover {
  background-color: lightblue;
}

.sort__courses__container {
  display: none;
  padding-top: 1rem;
  align-items: center;
}

.join__course__button {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background: none;
  border: 1px solid grey;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: var(--Raleway500);
  margin-inline: 0.5rem;
}

.join__course__button:hover {
  background-color: lightblue;
}

.all__course__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  /* padding: 0.5rem; */
  background: none;
  border: 1px solid grey;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: var(--Raleway500);
  margin-inline: 0.5rem;
}

.all__course__button:hover {
  background-color: lightblue;
}

.arrow-back {
  transition: all 0.2s ease;
  border-radius: 5rem;
  padding: 0.5rem;
}

.arrow-back:hover {
  transform: scale(1.1);
  background: lightgrey;
  cursor: pointer;
}

.arrow-back:active {
  transform: scale(1.05);
  background: lightgrey;
}

.display__enrolled__container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  height: 3rem;
  width: 100%;
  user-select: none;
}

.class__profile__display {
  display: flex;
  justify-content: center;
  border: 1px solid grey;
  padding: 0.55rem;
  width: 2.5rem;
  border-radius: 20rem;
}

.class__room__display {
  display: flex;
  flex-direction: column;
}

.display__teaching__navigation {
  display: flex;
  max-width: max-content;
  height: 2.8rem;
}

.teaching__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  width: 7rem;
}

.teaching__nav:hover {
  background: lightgrey;
  cursor: pointer;
  border-bottom: 3px solid red;
}

.teaching__nav > p {
  font-weight: var(--Raleway500);
  color: var(--DarkBlue);
  cursor: pointer;
  user-select: none;
}

.display__note__taking__title__container {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid black;
}

.display__note__taking__title {
  font-size: 1.5rem;
  font-weight: var(--Raleway600);
}

.bx-note {
  font-size: 1.5rem;
}

.folder__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.folder__title {
  width: 10rem;
}
